<%= form_with model: @group_users, url: group_role_change_path, method: :patch, local: true do |f| %>
  <div class="container">
    <h2 class="text-center">権限</h2>
  </div>
  <hr>
  <% @group_users.each do |group_user| %>
    <%= f.fields_for "group_user[]", group_user do |group_user_fields| %>
      <div class="form-group">
        <div class="row">
          <div class="mr-3">
            <%= attachment_image_tag group_user_fields.user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", class: "header-profile" %>
          </div>
          <div class="mt-3">
            <p class="user-name"><%= group_user_fields.user.name %></p>
          </div>
          <div class="role mt-3 ml-auto">
            <%= f.collection_select(group_user_fields.authority_id, Authority.all, :id, :role, selected: group_user_fields.authority.id, class: "form-control") %>
          </div>
        </div>
        <hr>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.submit "変更", class: "btn btn-outline-primary" %>
  </div>
<% end %>