<h2 class="text-center">みんなの気分</h2>
<hr>
<% @group_users.each do |user| %>
  <% @diaries = user.group_diaries.where(group_id: @group.id) %>
  <div>
    <%= attachment_image_tag user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", class: "header-profile" %>
    <%= user.name %>
  </div>
  <%= week_calendar events: @diaries do |date, diaries| %>
    <p class="text-center"><%= date.day %></p>
    <% diaries.first(1).each do |diary| %>
      <div class="calendar-mood mb-3 text-center">
        <%= link_to group_diary_path(diary.id) do %>
          <%= image_tag(asset_path("/assets/#{diary.mood.image}.png"), class: "diary-mood", alt: "mood", size: "70x70") %><br/>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <hr class="mt-4">
<% end %>