<div class="container">
  <div class="row">
    <%= form_with model: @group, local: true, class: "mx-auto" do |f| %>
      <h2 class="text-center">グループ編集</h2>
      <hr>
      <%= render 'layouts/errors', model: f.object %>
      <div class="from-group row">
        <%= link_to "権限を変更", group_role_path(@group), class: "btn btn-outline-primary ml-auto" %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :policy %>
        <%= f.text_field :policy, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      <div class="from-group row">
        <%= f.submit "変更", class: "btn btn-outline-primary ml-auto" %>
      </div>
      <div class="form-group">
        <%= link_to "グループを削除", group_path(@group), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-outline-danger" %>
      </div>
    <% end %>
  </div>
</div>