<div class="container">
  <div class="row">
    <div class="groups w-100">
      <div class="row mb-4">
        <div class="mx-auto">
          <div class="row">
            <h2 class="mr-2">グループ一覧</h2>
            <%= link_to "作成", new_group_path, class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
      <hr>
      <div class="mx-auto">
        <%= form_with url: groups_search_path, method: :get, local: true, class: "search-form" do |f| %>
          <%= f.text_field :keyword, value: @keyword, size: "25", placeholder: "グループ検索", class: "f-search" %>
          <%= button_tag type: "submit" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
      <% if @keyword %>
        <hr>
        <h3 class="text-center mt-3">
          "<%= @keyword %>"の検索結果
        </h3>
      <% end %>
      <hr>
      <% if @serch_groups %>
        <% @groups.each do |group| %>
          <div class="group">
            <div class="group-profile row">
              <%= link_to group_path(group), class: "ml-1" do %>
                <%= attachment_image_tag group, :image, :fill, 300, 300, fallback: "no_image.jpg", class: "header-profile ml-2" %>
                <span class="profile-name"><%= group.name %></span>
              <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      <% else %>
        <div id="group-index">
          <%= render 'search', search_groups: @search_groups %>
        </div>
      <% end %>
      <div class="more text-center my-5">
        <%= link_to_next_page @groups, "もっと見る", remote: true, id: "groups_more" %>
      </div>
    </div>
  </div>
</div>