<div class="container w-100">
  <h2 class="text-center">
    <%= @group.name %>
  </h2>
  <hr>
  <div class="group-content mx-auto">
    <% if @group.policy.present? %>
      <div class="group-info my-5 text-center">
        <p><%= @group.policy %></p>
      </div>
      <hr>
    <% end %>
    <div class="row group-count">
      <div class="mx-auto">
        <p class="text-center">投稿</p>
        <p class="text-center">
          <%= @group.group_diaries.count %>
        </p>
      </div>
      <div class="mx-auto">
        <p class="text-center">メンバー</p>
        <p class="text-center">
          <%= @group.group_users.count %>
        </p>
      </div>
    </div>
    <hr>
    <div class="group-btn mb-3 text-center">
      <% if @group.user_join?(current_user) %>
        <%= link_to "日記一覧", group_group_diaries_path(@group), class: "btn btn-outline-primary" %>
        <% if @authority.role == "leader" %>
          <%= link_to "編集する", edit_group_path(@group), class: "btn btn-outline-primary ml-3" %>
        <% end %>
      <% end %>
    </div>
    <div class="text-center">
      <% if @authority && @authority.id == 1 || @authority && @authority.id == 2 %>
        <%= link_to "申請一覧", group_applies_path(@group), class: "btn btn-outline-primary mr-3" %>
      <% end %>
      <% if @group.user_join?(current_user) %>
        <%= link_to '退会する', group_group_user_path(@group, @group_user), method: :delete, class: "btn btn-outline-danger" %>
      <% elsif current_user %>
        <% if @apply %>
          <%= link_to '申請取消', group_apply_path(@group, @apply), method: :delete, class: "btn btn-outline-danger" %>
        <% else %>
          <%= link_to '加入申請', group_applies_path(@group), method: :post, class: "btn btn-outline-primary" %>
        <% end %>
      <% end %>
    </div>
    <div class="group-member mt-5">
      <h3 class="text-center">メンバー</h3>
      <hr>
      <div id="member_list">
        <%= render 'members', members: @members, group: @group %>
      </div>
      <div class="more text-center my-5">
        <%= link_to_next_page @members, "もっと見る", remote: true, id: "member_more" %>
      </div>
    </div>
  </div>
</div>