<div class="container sidebar">
  <div class="profile mb-2">
    <%= link_to attachment_image_tag(current_user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", class: "profile"), user_path(current_user) %>
  </div>
  <div class="profile-text">
    <p>名前：<%= current_user.name %></p>
    <p>ぽりしー：<%= current_user.policy %></p>
  </div>
  <div class="row">
    <%= link_to "編集", edit_user_path(current_user), class: "w-100 btn btn-outline-secondary mt-3" %>
  </div>
  <div class="user-group mt-4">
    <% current_user.groups.each do |group| %>
      <div class="row">
        <div class="mr-3">
          <%= link_to group_group_diaries_path(group) do %>
            <%= attachment_image_tag group, :image, :fill, 300, 300, fallback: "no_image.jpg", class: "header-profile" %>
            <%= group.name %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>