<div class="container">
  <div class="sidebar">
    <nav class="menu">
      <li>
        <%= link_to "ホーム", diaries_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to "通知", "#", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "グループ", "#", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "カレンダー", "#", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "日記を投稿", new_diary_path, class: "btn btn-outline-primary nav-link" %>
      </li>
    </nav>
  </div>
</div>