<div class="container sidebar">
  <nav class="menu">
    <li>
      <%= link_to "ホーム", root_path, class: "nav-link" %>
    </li>
    <li>
      <%= link_to "通知", "#", class: "nav-link" %>
    </li>
    <li>
      <%= link_to "グループ", groups_path(current_user), class: "nav-link" %>
    </li>
    <li>
      <%= link_to "カレンダー", diaries_calendar_path, class: "nav-link" %>
    </li>
    <li>
      <%= link_to "日記を投稿", new_user_diary_path(current_user), class: "btn btn-outline-primary nav-link" %>
    </li>
  </nav>
</div>