<div class="container mt-3">
  <div class="row">
    <%= form_with model: @diary, local: true do |f| %>
      <h2 class="text-center mb-2">日記編集</h2>
      <div class="form-group">
        <%= f.radio_button :mood_id, 1 %>
        <%= f.label :mood_id, image_tag("/assets/so_bad.jpg", class: "diary-mood", alt: "mood", size: "120x120"), value: 1 %>
        <%= f.radio_button :mood_id, 2 %>
        <%= f.label :mood_id, image_tag("/assets/bad.jpg", class: "diary-mood", alt: "mood", size: "120x120"), value: 2 %>
        <%= f.radio_button :mood_id, 3 %>
        <%= f.label :mood_id, image_tag("/assets/so_so.jpg", class: "diary-mood", alt: "mood", size: "120x120"), value: 3 %>
        <%= f.radio_button :mood_id, 4 %>
        <%= f.label :mood_id, image_tag("/assets/good.jpg", class: "diary-mood", alt: "mood", size: "120x120"), value: 4 %>
        <%= f.radio_button :mood_id, 5 %>
        <%= f.label :mood_id, image_tag("/assets/so_good.jpg", class: "diary-mood", alt: "mood", size: "120x120"), value: 5 %>
      </div>
      <% hidden_field :user_id, current_user.id %>
      <div class="form-group">
        <%= f.label :keep %>
        <%= f.text_field :keep, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :keep %>
        <%= f.text_field :keep, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :problem %>
        <%= f.text_field :problem, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :try %>
        <%= f.text_field :try, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :text %>
        <%= f.text_area :text, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      <div class="form-group">
        <%= f.submit "編集", class: "btn btn-outline-primary d-block ml-auto" %>
      </div>
    <% end %>
  </div>
</div>